<h1>Submitted Tasks</h1>
<% @tasks.each do |u| %> <!-- Iterates through each name under the variable u -->
  Title: <p> <%= link_to u.title, tasks_path(u) %> </p> <!-- Show the name-->
  Comment: <p> <%= u.comment %> </p> <!-- Show the rush guy's email -->
  Value: <p> <%= u.value %> </p>
<% end %>
<%= link_to "new", rushnames_new_path %> <!-- Create a link that appears as "new" that leads to rushnames_new_path -->
