<header>
	<div class="header-content-new">
        <div class="header-content-new-inner">
        	<p></p>
        	<h1>Task <%= @task.id %> </h1>
        	<p></p>
        	<p><%= @task.title %></p>
        </div>
    </div>
</header>