<h1> Welcome To The Points Home Page </h1>

<%= button_to "Submit a new task!", tasks_new_path, :class => "button medium", :method => :get %>

<%= button_to "Submit a rush name!", rushnames_new_path, :class => "button medium", :method => :get %>
