<header>
	<div class="header-content-new">
        <div class="header-content-new-inner">
        	<p></p>
        	<h1>Organization <%= @organization.id %> </h1>
        	<p></p>
        	<p><%= @organization.organization %></p>
        </div>
    </div>
</header>