<header>
	<div class="header-content-new">
        <div class="header-content-new-inner">
        	<p></p>
        	<h1>Reimbursement <%= @reimbursement.id %> </h1>
        	<p></p>
        	<p><%= @reimbursement.item %></p>
        	<p><%= link_to "Back to Reimbursements", reimbursements_path, :class => "btn btn-primary btn-xl page-scroll" %></p>
        </div>
    </div>
</header>
